/* @import "../fonts/fs-pixel-sans-unicode-regular.ttf";
@import "../fonts/LowresPixel-Regular.otf";
@import "../fonts/PixelPurl.ttf"; */

@font-face {
    font-family: LowresPixel;
    src: url('../fonts/LowresPixel-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: FsPixel;
    src: url('../fonts/fs-pixel-sans-unicode-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: PixelPurl;
    src: url('../fonts/PixelPurl.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

.font-Purl {
    font-family: 'PixelPurl';
}

.font-FsPixel {
    font-family: 'FsPixel';
}

.font-LowresPixel {
    font-family: "LowresPixel";
}