.menu-mobile-buttons{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;


    .inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #282828;
        padding: 8px;
        font-size: 32px;
        border-radius: 8px;
        /* max-width: 385px; */
        height: 50px;

        .mobile-menu-btn{
            display: flex;
            align-items: center;

            &.active > svg{
                color: #3340CC !important;
            }
        }
    }
}

.menu-header{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #282828;
    height: 50px;
    > h2 {
        font-size: 24px;
        margin: 0 1rem;
    }
}