.recentsOverview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px 12px;

    >* {
        width: 150px;
        color: unset;
        text-decoration: unset;
        display: flex;
        flex-direction: column;

        >h2 {
            font-size: 24px;
            font-family: 'PixelPurl';
        }

        >img {
            width: 100%;
            height: 200px;
        }
    }
}